body {
    background: #fff;
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}
a {
    text-decoration: none;
    color: #0091bb;
}
.wrapper {
    text-align: center;
    max-width: 1440px auto;
}
.order {
    display: flex;
    list-style-type: none;
    justify-content: center;
    align-items: center;
    padding: 0;
    margin: 0;
    margin-top: 5px;
    /* text-transform: uppercase; */
}
.order-info {
    font-size: 13px;
    margin-right: 20px;
    color: #0091bb;
}
.order-info:hover {
    color: #8fdff5;
    cursor: pointer;
}
.header {
    display: flex;
    justify-content: center;
    align-items: center;
    /* margin: auto;     */
    border-radius: 5px;
    width: 100%;
}
h1, h2, h3, h4, h5, h6 {
    color: #0091bb
}
.social {
    display: flex;
    font-size: 32px;
}
.icon {
    padding-right: 15px;
    color: #0091bb;
}
.icon:hover {
    cursor: pointer;
}
.search {
    display: flex;
    padding: 5px;
    padding-bottom: 2px;
    margin-right: 10px;
}
.input {
    border-radius: 15px 0 0 15px;
    background: #0091bb;
    border: 0;
    color: #fff;
    width: 250px;
    font-size: 16px;
    outline: none;
    padding-left: 10px;
}
.input::placeholder {
    color: #fff;
}
.button-search {
    height: 32px;
    background: #0091bb;
    width: 50px;
    border: 0;
    border-radius: 0 15px 15px 0;
}
.button-search:hover {
    cursor: pointer;
}
.fa-search {
    color: #fff;
}
.login-list {
    display: flex;
    text-align: center;
    justify-content: center;
    color: #fff;
}
.btn {
    display: flex;
    height: 31px;
    width: 120px;
    background: #0091bb;
    border-radius: 25px;
    margin-right: 5px;
    text-align: center;
    justify-content: center;
    align-items: center;
}
.btn:hover {
    cursor: pointer;
    background: #8fdff5;
    color: #fff;
    transition: 0.2s;
}
.nav {
    display: flex;
    align-items: center;
}
.logo {
    width: 70px;
    height: 88px;
    margin-right: 25px;
}
.contacts {
    color: #0091bb;
    font-style: bold;
    margin-right: 25px;
}
.list {
    display: flex;
    list-style-type: none;
    justify-content: center;
    align-items: center;
    padding: 0;
    margin: 0;
    margin-top: 10px;
    /* text-transform: uppercase; */
}
.product {
    font-size: 16px;
    padding-right: 30px;
    font-weight: bold;
    text-decoration: underline;
    color: #0091bb;
}
.product:hover {
    cursor: pointer;
    text-decoration: none;
    color:#8fdff5;
    transition: 0.2s;
}